.container {
    background: rgba(0, 0, 0, 0);
    background-repeat: repeat-y;
    background-size: cover;
    margin: auto;
    min-width: 90%;
    min-height: 90%;
    border: solid black 0px;  
    border-radius: 10px;
}

.jumbotron {
    font-family: 'Lato', sans-serif;
    font-size: 55px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
    color: white;   
    border: solid white 2px; 
    padding: 10px 0px;
    letter-spacing: 4px;
    text-shadow: rgba(0, 0, 0, 0.6) 6px 6px 6px;
}

body {
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    background-color: black;
    background: url("../images/greens.jpeg");
   background-size: stretch;
   background-repeat: repeat-y;
   color: white;
}

.panel {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    border: solid white 2px;
}

.panel-title {
text-align: center;
font-family: 'Lato', sans-serif;
font-size: 27px;
text-shadow: black 4px 4px 4px;
}

.btn { 
  color: #ffffff; 
  background-color:#8B9FBC; 
  border-color: #FFFFFF; 
  font-size: 20px;
  padding: 5px;
  margin: 10px;
  font-family: 'Shrikhand';
  text-shadow: black 1.5px 1.5px 1.5px;
  vertical-align: 5px;
}

.btn:hover {
    text-shadow:  white 1.7px 1.7px 1.7px;
}

.panel-transparent {
    background: none;
    border: none;
}

.panel-transparent .panel-heading{
    background: #8B9FBC;
    color:white;
    border: solid white 2px;
    border-radius: 10px 10px 0px 0px;
}

.panel-transparent .panel-body{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0px 0px 10px 10px;
    border: solid white 2px; 
    min-height: 100px;
}

.jumbotron img{
    max-width:65%;
    max-height:50%;
}

.zipbox {
    border-radius: 5px;
    text-align: center;
    vertical-align: 5px;
    width: 50%;
    color: black;
}

label {
padding: 10px 10px 0px 0px;
text-align: center;
font-family: 'Arial', sans-serif;
    font-size: 25px;
letter-spacing: 2px;
}

.event-head {
    font-size: 20px;
    text-align: center;
}

#addRow {
    border-bottom: 1px solid #ddd;
    border-spacing: 2px;
    border-collapse: collapse;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
}

a:link {
    color: white;
    }
    a:visited {
    color: gray;
    }
    a:hover {
    color: rgb(255, 155, 0, 0.9);
    }

    #icons {
        width: 82px;
        height: 82px;
    }